# ignore this type of files #
#############################

*.exe
*.pdb
*.ilk
*.ipch
*.tlog
*.idb
*.log
*.suo
*.db
*.iobj
*.ipdb
*.opendb
*.shm
*.db-wal
*.db-shm
/01_OpenGLConfiguration/01_OpenGLHelloWorld/x64/*
/01_OpenGLConfiguration/01_OpenGLHelloWorld/Debug/*
/01_OpenGLConfiguration/01_OpenGLHelloWorld/Release/*
/deps/glad/src/glad/*
/deps/glad/src/glad/x64/Debug/*
/deps/glad/src/glad/x64/Release/*
/02_IntroOpenGL/02_IntroOpenGL2D/x64/*
/02_IntroOpenGL/02_IntroOpenGL2D/Debug/*
/02_IntroOpenGL/02_IntroOpenGL2D/Release/*
/03_ProjViewportTransformations/03_ViewportTransformations/x64/*
/03_ProjViewportTransformations/03_ViewportTransformations/Debug/*
/03_ProjViewportTransformations/03_ViewportTransformations/Release/*
/09_ModelLoading/09_OGLLoadModels/x64/*
/09_ModelLoading/09_OGLLoadModels/x64/Debug/
/09_ModelLoading/09_OGLLoadModels/x64/Release/
/09_ModelLoading/09_OGLLoadModels/Debug/*
/09_ModelLoading/09_OGLLoadModels/Release/*
/09_ModelLoading2Interaction/09_Interaction/x64/*
/09_ModelLoading2Interaction/09_Interaction/Debug/*
/09_ModelLoading2Interaction/09_Interaction/Release/*
/09_ModelLoading2Interaction/09_Interaction/x64/Debug
/09_ModelLoading2Interaction/09_Interaction/x64/Release